.board {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  border: 3px solid $border-color;

  .row {
    height: 100px;
    width: 800px;
    display: flex;

    .col {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 25px;
      img {
        width: 100px;
      }
    }

    .white {
      background-color: $white-square;
      color: $black-square;
    }

    .black {
      background-color: $black-square;
      color: $white-square;
    }
  }
}